.categories-component .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.categories-component .categories-list p {
    color: blue;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.categories-component .list li {
    margin-right: 10px;
}

.categories-table .table {
    width: 50%;
    float: left;
}

.categories-table .table Button{
    margin-top: 20px;
}

.categories-table .table table thead th {
    color: blue;
    font-size: 40px;
}
.categories-table .table table td i {
    color: #76bdde;
}

.categories-table .category {
    width: 50%;
    float: right;
}

.categories-table .category h1 {
    margin: 0;
    color: blue;
}