.pictograms-component {
    margin: 10px 50px;
}

.pictograms-component .pictograms-list {
    float: left;
    width: 70%
}

.pictograms-component .pictograms-list p {
    color: blue;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.pictograms-component .pictograms-list .list {
    padding-left: 0;
}

.pictograms-component .add-edit {
    float: right;
    width: 30%;
}

.pictograms-component .add-edit div {
    padding-top: 10px;
}

.pictograms-component .pictograms-list .pictograms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pictograms-component .pictograms-list .pictograms .pictogram {
    margin-top: 30px;
    margin-right: 30px;
}

.pictograms-component .pictograms-list .pictograms .pictogram img{
    width: 200px;
    height: 150px;
}
.pictograms-component .pictograms-list .pictograms .pictogram .buttons {
    display: flex;
    justify-content: center;
}

.pictograms-component .pictograms-list .primary {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

