.pictograms-component {
    margin: 10px 50px;
}

.pictograms-component .pictograms-list {
    float: left;
    width: 70%
}

.pictograms-component .add-edit {
    float: right;
    width: 30%;
}

.pictograms-component .add-edit div {
    padding-top: 10px;
}

.pictograms-component .pictograms-list .pictogram .buttons {
    display: flex;
    justify-content: center;
}